* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
}
main {
  height: 100vh;
}

nav {
  display: flex;
  height: 9.9vh;
  max-width: 100%;
  background-color: #000;
  align-items: center;
  justify-content: space-evenly;
}

nav .logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 0;
}
nav ul {
  display: flex;
  /* gap: 4rem; */
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3 ease;
  padding: 6px 16px;
}
li a:hover {
  background-color: #fff;
  color: #000;
  border: none;
}
nav .login-signup {
  display: flex;
  gap: 3.5rem;
  font-size: 1.4rem;
}
nav .login-btn {
  background: none;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
nav .register-btn {
  padding: 12px 32px;
  border-radius: 40px;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.hero {
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url('./assets/img/Bg-hero.png');
  background-size: cover;
  z-index: -1;
  text-align: center;
}
.hero h1 {
  font-size: 7.2rem;
  color: #fff;
  margin-bottom: 2.4rem;
}
.hero p {
  color: #8b8b8b;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  line-height: 150%;
}

.hero .button-hero {
  position: relative;
  top: 0;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9.5rem;
}

.hero .started-btn {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 4rem;
  background-color: #a8ff35;
}
.hero .button-hero svg {
  margin-top: 8px;
}
.hero .btn-hero-socmed {
  display: flex;
  justify-content: center;
  margin-inline: 20rem;
}
.hero .btn-hero-socmed img {
  height: 82px;
}
.btn-hero-socmed img:nth-child(1) {
  position: relative;
  top: -35px;
  left: 150px;
  transform: rotate(-4deg);
  z-index: 3;
}
.btn-hero-socmed img:nth-child(2) {
  position: relative;
  top: 10px;
  left: 25px;
  transform: rotate(2deg);
  z-index: 2;
}
.btn-hero-socmed img:nth-child(3) {
  position: relative;
  top: -35px;
  left: -70px;
  transform: rotate(-2deg);
  z-index: 1;
}
.btn-hero-socmed img:nth-child(4) {
  position: relative;
  top: 9px;
  left: -150px;
  transform: rotate(4deg);
}
.open-new {
  position: relative;
  background-color: #a8ff35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.open-new h2 {
  font-size: 7.2rem;
  font-weight: bold;
  margin-bottom: 6rem;
  margin-top: 14rem;
}
.open-new p {
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 14rem;
}
.open-new .find-image {
  background-color: #fff;
  padding: 6rem 8rem;
  border-radius: 1.6rem;
  margin-bottom: 6rem;
}
.open-new .find-image img {
  height: 7.2rem;
}
